WcfService1/Testing/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52072/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52072/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Addition_InputMessage">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="IService1_Addition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Subtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtraction" />
  </wsdl:message>
  <wsdl:message name="IService1_Subtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Factorial_InputMessage">
    <wsdl:part name="parameters" element="tns:Factorial" />
  </wsdl:message>
  <wsdl:message name="IService1_Factorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:FactorialResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EvenOrOdd_InputMessage">
    <wsdl:part name="parameters" element="tns:EvenOrOdd" />
  </wsdl:message>
  <wsdl:message name="IService1_EvenOrOdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:EvenOrOddResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Addition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Addition" message="tns:IService1_Addition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AdditionResponse" message="tns:IService1_Addition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Subtraction" message="tns:IService1_Subtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubtractionResponse" message="tns:IService1_Subtraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Factorial" message="tns:IService1_Factorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FactorialResponse" message="tns:IService1_Factorial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EvenOrOdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EvenOrOdd" message="tns:IService1_EvenOrOdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EvenOrOddResponse" message="tns:IService1_EvenOrOdd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/IService1/Addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <soap:operation soapAction="http://tempuri.org/IService1/Subtraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <soap:operation soapAction="http://tempuri.org/IService1/Factorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EvenOrOdd">
      <soap:operation soapAction="http://tempuri.org/IService1/EvenOrOdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52072/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>